<!-- ====>> SECTION: EDUCATION <<====-->
<section class="timeline education" id="education">

  <!-- Margin (necessary for the timeline effect) -->
  <div class="line row timeline-margin">
    <div class="content-wrap">
      <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
      <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
      <div class="col-md-9 bg1 full-height"></div>
    </div>
  </div>
  <!-- /Margin -->

  <!-- SECTION TITLE -->
  <div class="line row">
    <!-- Margin Collums (necessary for the timeline effect) -->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <div class="col-md-2 timeline-progress hidden-sm hidden-xs timeline-title full-height">
    </div>              
    <!-- /Margin Collums -->
    <!-- Item Content -->
    <div class="col-md-8 content-wrap bg1">
      <!-- Section title -->
      <h2 class="section-title">Education</h2>
      <!-- /Section title -->
    </div>
    <!-- /Item Content -->
    <!-- Margin Collum-->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <!-- /Margin Collum-->
  </div>
  <!-- /SECTION TITLE -->
   

  <!-- SECTION ITEM -->
  <div class="line row">
    <!-- Margin Collums (necessary for the timeline effect) -->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-education "></div>
    <!-- /Margin Collums -->
    <!-- Item Content -->
    <div class="col-md-8 content-wrap bg1">
      <div class="line-content line-content-education">
        <!-- Graduation title -->
        <h3 class="section-item-title-1">MASTER OF Computer Simulation in Scince</h3>
        <!-- /Graduation title -->
        <!-- Graduation time -->
        <h4 class="graduation-time"><i class="fa fa-university"></i> Bergisch University of Wuppertal <span class="graduation-date"></span></h4>
        <!-- /Graduation time -->
        <!-- content -->
        <div class="graduation-description">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <!-- /Content -->
      </div>
    </div>
    <!--/Item Content -->
    <!-- Margin Collum-->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <!-- /Margin Collum-->
  </div>
  <!-- /SECTION ITEM -->   

   <!-- SECTION ITEM -->
  <div class="line row">
    <!-- Margin Collums (necessary for the timeline effect) -->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-education "></div>
    <!-- /Margin Collums -->
    <!-- Item Content -->
    <div class="col-md-8 content-wrap bg1">
      <div class="line-content line-content-education">
        <!-- Graduation title -->
    

        <h3 class="section-item-title-1">Bachelor of Computer Software Engineering</h3>
        <!-- /Graduation title -->
        <!-- Graduation time -->
        <h4 class="graduation-time"><i class="fa fa-university"></i> Payam-e-Noor University of Iran, (4 years) <span class=" graduation-date">Graduation july 2011</span></h4>
        <!-- /Graduation time -->
        <!-- content -->
        <div class="graduation-description">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <!-- /Content -->
      </div>
    </div>
    <!-- /Item Content -->
    <!-- Margin Collum-->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <!-- /Margin Collum-->
  </div>

    <!-- SECTION ITEM -->
  <div class="line row">
    <!-- Margin Collums (necessary for the timeline effect) -->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-education "></div>
    <!-- /Margin Collums -->
    <!-- Item Content -->
    <div class="col-md-8 content-wrap bg1">
      <div class="line-content line-content-education">
        <!-- Graduation title -->
        <h3 class="section-item-title-1">Pre-university and high school</h3>
        <!-- /Graduation title -->
        <!-- Graduation time -->
        <h4 class="graduation-time"><i class="fa fa-university"></i> Besat - <span class="graduation-date">Graduation july 2006</span></h4>
        <!-- /Graduation time -->
        <!-- content -->
        <div class="graduation-description">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <!-- /Content -->
      </div>
    </div>
    <!-- /Item Content -->
    <!-- Margin Collum -->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <!-- /Margin Collum -->
  </div> 
  <!-- /SECTION ITEM -->
  <!-- /SECTION ITEM -->       
</section>
<!-- ==>> /SECTION: EDUCATION <<==== -->  