<!-- ====>> SECTION: PROFILE INFOS <<====-->
    <section class="timeline profile-infos">

      <!-- VERTICAL MARGIN (necessary for the timeline effect) -->
      <div class="line row timeline-margin">
        <div class="content-wrap">
          <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
          <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
          <div class="col-md-9 bg1 full-height"></div>
        </div>
      </div>
      <!-- /VERTICAL MARGIN -->

      <!-- SECTION TITLE -->
      <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs timeline-title full-height">
        </div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
          <!-- Section title -->
          <h2 class="section-title">Profile</h2>
          <!-- /Section title -->
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- / Margin Collum-->
      </div>
      <!-- /SECTION TITLE -->

      <!-- SECTION ITEM -->
      <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
          <div class="line-content">
            <!-- Subtitle -->
            <h3 class="section-item-title-1">Full Name</h3>
            <!-- /Subtitle -->
            <!-- content -->
            <p>Samira Chaychi</p>
            <!-- /Content -->
          </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum-->
      </div>
      <!-- /SECTION ITEM -->
      
      <!-- SECTION ITEM -->
      <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
          <div class="line-content">
            <!-- Subtitle -->
            <h3 class="section-item-title-1">Born</h3>
            <!-- /Subtitle -->
            <!-- content -->
            <p>22 Oct 1987 - Maragheh, Iran</p>
            <!-- /Content -->
          </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum-->
      </div>
      <!-- /SECTION ITEM -->   

      <!-- SECTION ITEM -->
      <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
          <div class="line-content">
            <!-- Subtitle -->
            <h3 class="section-item-title-1">Email</h3>
            <!-- /Subtitle -->
            <!-- content -->
            <p>s.chaychi@yahoo.com</p>
            <!-- /Content -->
          </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collums -->
      </div>
      <!-- /SECTION ITEM --> 

      <!-- SECTION ITEM -->
      <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
        <!-- Margin Collums (necessary for the timeline effect) -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
          <div class="line-content">
            <!-- Subtitle -->
            <h3 class="section-item-title-1">Find Me On</h3>
            <!-- /Subtitle -->
            <!-- content -->
            <a href="#" class="btn btn-default"><i class="fa fa-facebook"></i></a> 
            <a href="#" class="btn btn-default"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn btn-default"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="btn btn-default"><i class="fa fa-paper-plane-o"></i></a>
            <!-- /Content -->
          </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum -->
      </div>
      <!-- /SECTION ITEM --> 
    </section>
    <!-- ==>> /SECTION: PROFILE INFOS -->    