<!-- ====>> SECTION: SKILLS <<====-->
<section class="timeline skills" id="skills">

  <!-- VERTICAL MARGIN (necessary for the timeline effect) -->
  <div class="line row timeline-margin">
    <div class="content-wrap">
      <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
      <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
      <div class="col-md-9 bg1 full-height"></div>
    </div>
  </div>
  <!-- /VERTICAL MARGIN -->

  <!-- SECTION TITLE -->
  <div class="line row">
    <!-- VERTICAL MARGIN (necessary for the timeline effect) -->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <div class="col-md-2 timeline-progress hidden-sm hidden-xs timeline-title full-height"></div>
    <!-- /VERTICAL MARGIN (necessary for the timeline effect) -->
    <!-- Item Content -->
    <div class="col-md-8 content-wrap bg1">
      <!-- Section title -->
      <h2 class="section-title">Skills</h2>
      <!-- /Section title -->
    </div>
    <!-- /Item Content -->
    <!-- Margin Collum-->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <!-- /Margin Collum-->
  </div>
  <!-- /SECTION TITLE -->


  <!-- SECTION ITEM -->
  <div class="line row">
    <!-- Margin Collums (necessary for the timeline effect) -->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
    <!-- / Margin Collums -->
    <!-- Item Content -->
    <div class="col-md-8 content-wrap bg1">
      <div class="line-content">
        <!-- Subtitle -->
        <h3 class="section-item-title-1">Programming Skills</h3>
        <!-- /Subtitle -->
        <!-- content -->
        <ul class="skills-list">
          <!-- item-list -->
          <li>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-percent="90%" style="width: 90%;">
                  <span class="sr-only">90% Complete</span>
              </div>
              <span class="progress-type">C/C++, Parrallel MPI</span>
              <span class="progress-completed">90%</span>
            </div>
          </li>
          <!-- /item list -->
          <!-- item-list -->
          <li>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-percent="50%" style="width: 50%;">
                  <span class="sr-only">50% Complete</span>
              </div>
              <span class="progress-type">Ruby on Rails</span>
              <span class="progress-completed">50%</span>
            </div>
          </li>
          <!-- /item list -->
          <!-- item-list -->
          <li>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-percent="55%" style="width: 55%;">
                  <span class="sr-only">55% Complete</span>
              </div>
              <span class="progress-type">Paython</span>
              <span class="progress-completed">55%</span>
            </div>
          </li>
          <!-- /item list -->
          <!-- item-list -->
          <li>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-percent="80%" style="width: 80%;">
                  <span class="sr-only">80% Complete</span>
              </div>
              <span class="progress-type">MATLAB</span>
              <span class="progress-completed">80%</span>
            </div>
          </li>
          <!-- /item list -->
          <!-- item-list -->
          <li>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-percent="40%" style="width: 40%;">
                  <span class="sr-only">40% Complete</span>
              </div>
              <span class="progress-type">Fortran</span>
              <span class="progress-completed">40%</span>
            </div>
          </li>
          <!-- /item list -->
          <!-- item-list -->
          <li>
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-percent="75%" style="width: 75%;">
                  <span class="sr-only">75% Complete</span>
              </div>
              <span class="progress-type">Pascal</span>
              <span class="progress-completed">75%</span>
            </div>
          </li>
          <!-- /item list -->

          <!-- item-list -->
          <li>
            <div class="progress">
              <div class="progress-bar progress-bar-2" role="progressbar" data-percent="75%" style="width: 75%;">
                  <span class="sr-only">75% Complete</span>
              </div>
              <span class="progress-type">HTML,CSS</span>
              <span class="progress-completed">75%</span>
            </div>
          </li>
          <!-- /item list -->
          <!-- item-list -->
          <li>
            <div class="progress" title="Doing my best!">
              <div class="progress-bar progress-bar-3" role="progressbar" data-percent="40%" style="width: 40%;">
                  <span class="sr-only">40% Complete</span>
              </div>
              <span class="progress-type">Javascript</span>
              <span class="progress-completed">40%</span>
            </div>
          </li>
          <!-- /item list -->
        </ul>
        <!-- /Content -->
      </div>
    </div>
    <!-- /Item Content -->
    <!-- Margin Collum-->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <!-- /Margin Collum-->
  </div>
  <!-- /SECTION ITEM -->


  
  <!-- SECTION ITEM -->
  <div class="line row">
    <!-- Margin Collums (necessary for the timeline effect) -->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
    <!-- /Margin Collums -->
    <!-- Item Content -->
    <div class="col-md-8 content-wrap bg1">
      <div class="line-content">
        <!-- Subtitle -->
        <h3 class="section-item-title-1">Software Skills</h3>
        <!-- /Subtitle -->
        <!-- content -->
        <ul class="skills-list">
          <!-- item-list -->
          <li>
            <div class="progress">
              <div class="progress-bar" data-percent="85%" role="progressbar" style="width: 85%;">
                  <span class="sr-only">85% Complete</span>
              </div>
              <span class="progress-type">Version control & git</span>
              <span class="progress-completed">85%</span>
            </div>
          </li>
          <!-- /item list -->
          <!-- item-list -->
          <li>
            <div class="progress">
              <div class="progress-bar progress-bar-2" data-percent="90%" role="progressbar" style="width: 90%;">
                  <span class="sr-only">90% Complete</span>
              </div>
              <span class="progress-type">Linux & Windows</span>
              <span class="progress-completed">90%</span>
            </div>
          </li>
          <!-- /item list -->
          <!-- item-list -->
          <li>
            <div class="progress">
              <div class="progress-bar progress-bar-3" data-percent="75%" role="progressbar" style="width: 75%;">
                  <span class="sr-only">75% Complete</span>
              </div>
              <span class="progress-type">Microsoft office</span>
              <span class="progress-completed">75%</span>
            </div>
          </li>
          <!-- /item list -->
        </ul>
        <!-- /Content -->
      </div>
    </div>
    <!-- /Item Content -->
    <!-- Margin Collum-->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <!-- /Margin Collum-->
  </div>
  <!-- /SECTION ITEM -->   

  <!-- SECTION ITEM -->
  <div class="line row">
    <!-- Margin Collums (necessary for the timeline effect) -->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
    <!-- /Margin Collums (necessary for the timeline effect) -->
    <!-- Item Content -->
    <div class="col-md-8 content-wrap bg1">
      <div class="line-content">
        <!-- Subtitle -->
        <h3 class="section-item-title-1">Language Skills</h3>
        <!-- /Subtitle -->
        <!-- content -->
        <ul class="skills-list">
          <!-- item-list -->
          <li>
            <div class="progress">
              <div class="progress-bar" data-percent="100%" role="progressbar" style="width: 100%;">
                  <span class="sr-only">100% Complete</span>
              </div>
              <span class="progress-type">Persian</span>
              <span class="progress-completed">100%</span>
            </div>
          </li>
          <!-- /item list -->
          <!-- item-list -->
          <li>
            <div class="progress">
              <div class="progress-bar progress-bar-2" data-percent="80%" role="progressbar" style="width: 80%;">
                  <span class="sr-only">80% Complete</span>
              </div>
              <span class="progress-type">English</span>
              <span class="progress-completed">80%</span>
            </div>
          </li>
          <!-- /item list -->
          <!-- item-list -->
          <li>
            <div class="progress">
              <div class="progress-bar progress-bar-3" data-percent="20%" role="progressbar" style="width: 20%;">
                  <span class="sr-only">20% Complete</span>
              </div>
              <span class="progress-type">Germany</span>
              <span class="progress-completed">20%</span>
            </div>
          </li>
          <!-- /item list -->
          <!-- item-list -->
          <li>
            <div class="progress">
              <div class="progress-bar progress-bar-3" data-percent="75%" role="progressbar" style="width: 75%;">
                  <span class="sr-only">75% Complete</span>
              </div>
              <span class="progress-type">Turkish</span>
              <span class="progress-completed">75%</span>
            </div>
          </li>
          <!-- /item list -->
        </ul>
        <!-- /Content -->
      </div>
    </div>
    <!-- /Item Content -->
    <!-- Margin Collum-->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <!-- /Margin Collum-->
  </div>
  <!-- /SECTION ITEM --> 
</section>
<!-- ==>> /SECTION: SKILLS -->