<!-- ============  FOOTER ================= -->
<footer id="footer" class="row">
  <!-- Put your Quote Here-->
  <p class="quote">“Ideas are the beginning points of all fortunes”</p>
  <!-- /Quote -->
  <!-- Quote Autor -->
  <p class="author">Napoleon Hill</p>
  <!-- /Quote Autor -->
</footer>
<!-- ============  /FOOTER ================= -->