<!-- Page Loader-->

<div class="loader" id="page-loader"> 
  <div class="loading-wrapper">
    <div class="tp-loader spinner"></div>
    <div class="side-menu-name">
      Samira <strong>Chaychi</strong>
    </div>
    <p class="side-menu-job">Computer Developer</p>
  </div>   
</div>

<!-- /End of Page loader-->