<!-- SIDE MENU
========================================================= -->
<div class="side-menu-open hidden-sm hidden-xs">
    <a href="#" class="btn btn-default side-menu-button"><i class="fa fa-bars"></i> MENU</a>
</div>
<!-- Side Menu container -->
<div class="side-menu" style="left: 0px;">
  <!-- close button -->
  <span id="side-menu-close"><i class="fa fa-times"></i></span>
  <!-- /close button -->

  <!-- Menu header -->
  <div class="side-menu-name">
    Samira <strong>Chaychi</strong>
  </div>
  <p class="side-menu-job">Computer Developer</p>
  
  <!-- /Menu Header -->

  <!-- Main Navigation -->
  <nav id="side-menu" class="side-menu-este">
    <ul class="nav side-menu-nav">
      <li><a href="#intro"><i class="fa fa-angle-right"></i> Intro</a></li>
      <li><a href="#education"><i class="fa fa-angle-right"></i> Education</a></li>
      <li><a href="#works"><i class="fa fa-angle-right"></i> Work Experience</a></li>
      <li><a href="#skills"><i class="fa fa-angle-right"></i> Skills</a></li>
      <li><a href="#interests"><i class="fa fa-angle-right"></i> Interests</a></li>
      <li><a href="#portfolio"><i class="fa fa-angle-right"></i> Portfolio</a></li>
      <li><a href="#contact"><i class="fa fa-angle-right"></i> Contact</a></li>
    </ul>
  </nav>
  <!-- /Main Navigation-->

  <!-- Other Buttons -->
  <div class="side-menu-buttons">
    <a href="#" class="btn btn-side-menu"><i class="fa fa-download"></i> Download my resume</a>
    <a href="#" class="btn btn-side-menu"><i class="fa fa-envelope-o"></i> Send me a message</a>
  </div>
  <!-- /Other Buttons-->
</div>
<!-- /side menu container -->

<!-- /SIDE MENU
========================================================= -->